<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Euro Predictions</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/img/favicon.ico"
    />
  </head>
  <body>
    <div class="container">
      <div class="jackpot">
        <h1>{{ jackpot }}</h1>
      </div>

      <div class="draw_prediction">
        {% if numbers and stars %}
        <div class="numbers-container">
          {% for number in numbers %}
          <div class="number-ball">{{ number }}</div>
          {% endfor %}
        </div>

        <div class="stars-container">
          {% for star in stars %}
          <div class="star">
            <p>{{ star }}</p>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>Aucune prédiction effectuée.</p>
        {% endif %}
      </div>

      <form method="post">
        <button type="submit">Relancer</button>
      </form>
    </div>
  </body>
</html>
